* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  margin: 0;
  text-transform: capitalize;
}
